<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="backgroundDecor" class="journal-bg-decor" aria-hidden="true">
  <img class="bg-float bg-emoji bg-emoji-1" src="/images/mood/happy.svg" alt="">
  <img class="bg-float bg-emoji bg-emoji-2" src="/images/mood/neutral.svg" alt="">
  <img class="bg-float bg-emoji bg-emoji-3" src="/images/mood/sad.svg" alt="">
  <img class="bg-float bg-food bg-food-1" src="https://images.unsplash.com/photo-1513104890138-7c749659a591?w=200&h=200&fit=crop" alt="">
  <img class="bg-float bg-food bg-food-2" src="/images/food/doner.jpg" alt="">
  <img class="bg-float bg-food bg-food-3" src="https://images.unsplash.com/photo-1546793665-c74683f339c1?w=200&h=200&fit=crop" alt="">
  <img class="bg-float bg-food bg-food-4" src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?w=200&h=200&fit=crop" alt="">
</div>
</body>
</html>
